<%  include partials/header %>
<div class="ui main text container big inverted form segment">
    <div class="ui huge header">ADD A BLOG <i class="edit outline icon"></i></div>
        <form class="ui big form"action="/blogs" method="post">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="Blog Title"></input>
            </div>
            <div class="field">
                <label class>Image</label>
                <input type="text" name="blog[image]" placeholder="Image for Blog"></input>
            </div>
            <div class="field">
                <label>Body</label>
                <textarea name="blog[body]" placeholder="Content of Blog"></textarea>
            </div>
            
            <button class="ui inverted big button purple" type="submit">ADD BLOG</button>
              <div class="ui segment">
                <div class="field">Use the following codes to make format your text.
                    <ul>
                        <li>&lt;opening tag&gt;Word/s to be formated&lt;/closeing tag&gt;</li>
                         <li>&lt;b&gt; Bold text&lt;/b&gt;</li>
                         <li>&lt;strong&gt;Important text&lt;/strong&gt;</li>
                         <li>&lt;i&gt;Italic text&lt;/i&gt;</li>
                         <li>&lt;em&gt;Emphasized text&lt;/em&gt;</li>
                         <li>&lt;mark&gt;Marked text&lt;/mark&gt;</li>
                         <li>&lt;small&gt;Small text&lt;/small&gt</li>
                         <li>&lt;del&gt;Deleted text&lt;/del&gt</li>
                         <li>&lt;ins&gt;Inserted text&lt;/ins&gt;</li>
                         <li>&lt;sub&gt;Subscript text&lt;/sub&gt;</li>
                         <li>&lt;sup&gt;Superscript text&lt;/sup&gt;</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

<%  include partials/footer %>